*{
    padding: 0;
    margin: 0;
  }
body{
    font-family: 'Indie Flower';
}

#first{
    background-image: url('https://images.unsplash.com/photo-1579954115545-a95591f28bfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80'); /*sebastian-coman-photography-rwBJaJdesGg-unsplash (1*/
    /*https://images.unsplash.com/photo-1579954115545-a95591f28bfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80*/
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#brand{
    color: rgb(33, 184, 33);
}

/*footer*/
.footer-2 {
  background-color:#f0fff0;
  color:rgb(255,255,255);

  
}

@media (max-width: 767px) { 
  .footer-2 p {  
    text-align:center;
    color: cornsilk;
  }
}

.fa-heart{
  color: pink;
}
/*end footer*/


/*notepaper*/
.notepaper {
  position: relative;
  margin: 30px auto;
  padding: 29px 20px 20px 45px;
  width: 280px;
  line-height: 30px;
  color: #6a5f49;
  text-shadow: 0 1px 1px white;
  background-color: whitesmokes;
  background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  border: 1px solid #c3baaa;
  border-color: rgba(195, 186, 170, 0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
}

.notepaper:before, .notepaper:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
}

.notepaper:before {
  left: 28px;
  width: 2px;
  border: solid #efcfad;
  border-color: rgba(239, 207, 173, 0.9);
  border-width: 0 1px;
}

.notepaper:after {
  z-index: -1;
  left: 0;
  right: 0;
  background: rgba(242, 246, 193, 0.9);
  border: 1px solid rgba(170, 157, 134, 0.7);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.quote {
  font-family: Georgia, serif;
  font-size: 14px;
}

.curly-quotes:before, .curly-quotes:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 48px;
  font-size: 50px;
  opacity: .2;
}

.curly-quotes:before {
  content: '\201C';
  margin-right: 4px;
  margin-left: -8px;
}

.curly-quotes:after {
  content: '\201D';
  margin-left: 4px;
  margin-right: -8px;
}

.quote-by {
  display: block;
  padding-right: 10px;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #84775c;
}

.lt-ie8 .notepaper {
  padding: 15px 25px;
}
/*end notepaper*/
/*second container*/

#second{
    background-color: rgb(229, 247, 229);
    height: 100%;
}

.card-title{
    text-transform: capitalize;
    font-weight: 300;
    color: rgb(5, 109, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#group{
    color: rgb(33, 184, 33);
}


#serve{
    color: rgb(33, 184, 33);
}


#cm-popup{
    display:none;
box-shadow: 0 0 10px #888888;
position:fixed;
left:50%;
transform:translateX(-50%);
    width:50%;
height:300px;
background-color: rgba(255, 225, 230, 0.685);
}
#cm-btn{
    border:none;
    background-color:rgb(229, 247, 229);
    border: solid 1px rgb(33, 184, 33);
border-radius:2px;
}

footer{
    background-color: pink;
    height: 100%;
    margin-bottom: 5PXpx;
}



#wrapper {
    text-align: center;
    }
    .glitch {
    position: relative;
    color: olive;
    font-size: 2.5em;
    letter-spacing: .3em;
    animation: glitch-skew 0.5s infinite linear alternate-reverse;
    padding-top: 20px;
    }
    .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    padding-top: 20px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
    }
    @keyframes glitch-anim {
    0% {
    clip: rect(30px, 9999px, 42px, 0);
    transform: skew(0.85deg);
    }
    5% {
    clip: rect(59px, 9999px, 21px, 0);
    transform: skew(0.34deg);
    }
    10% {
    clip: rect(99px, 9999px, 15px, 0);
    transform: skew(0.01deg);
    }
    15% {
    clip: rect(25px, 9999px, 61px, 0);
    transform: skew(0.97deg);
    }
    20% {
    clip: rect(35px, 9999px, 42px, 0);
    transform: skew(0.94deg);
    }
    25% {
    clip: rect(39px, 9999px, 62px, 0);
    transform: skew(0.31deg);
    }
    30% {
    clip: rect(62px, 9999px, 55px, 0);
    transform: skew(0.9deg);
    }
    35% {
    clip: rect(36px, 9999px, 31px, 0);
    transform: skew(0.13deg);
    }
    40% {
    clip: rect(27px, 9999px, 26px, 0);
    transform: skew(0.01deg);
    }
    45% {
    clip: rect(55px, 9999px, 9px, 0);
    transform: skew(0.5deg);
    }
    50% {
    clip: rect(69px, 9999px, 73px, 0);
    transform: skew(0.85deg);
    }
    55% {
    clip: rect(53px, 9999px, 89px, 0);
    transform: skew(0.15deg);
    }
    60% {
    clip: rect(20px, 9999px, 28px, 0);
    transform: skew(0.62deg);
    }
    65% {
    clip: rect(81px, 9999px, 28px, 0);
    transform: skew(0.1deg);
    }
    70% {
    clip: rect(54px, 9999px, 93px, 0);
    transform: skew(0.3deg);
    }
    75% {
    clip: rect(22px, 9999px, 6px, 0);
    transform: skew(0.84deg);
    }
    80% {
    clip: rect(23px, 9999px, 5px, 0);
    transform: skew(0.55deg);
    }
    85% {
    clip: rect(24px, 9999px, 76px, 0);
    transform: skew(0.68deg);
    }
    90% {
    clip: rect(3px, 9999px, 29px, 0);
    transform: skew(0.48deg);
    }
    95% {
    clip: rect(43px, 9999px, 95px, 0);
    transform: skew(0.37deg);
    }
    100% {
    clip: rect(58px, 9999px, 66px, 0);
    transform: skew(0.05deg);
    }
    }
    @keyframes glitch-anim2 {
    0% {
    clip: rect(66px, 9999px, 28px, 0);
    transform: skew(0.12deg);
    }
    5% {
    clip: rect(85px, 9999px, 40px, 0);
    transform: skew(0.7deg);
    }
    10% {
    clip: rect(14px, 9999px, 33px, 0);
    transform: skew(0.81deg);
    }
    15% {
    clip: rect(48px, 9999px, 76px, 0);
    transform: skew(0.57deg);
    }
    20% {
    clip: rect(77px, 9999px, 16px, 0);
    transform: skew(0.4deg);
    }
    25% {
    clip: rect(15px, 9999px, 43px, 0);
    transform: skew(0.27deg);
    }
    30% {
    clip: rect(33px, 9999px, 11px, 0);
    transform: skew(0.84deg);
    }
    35% {
    clip: rect(50px, 9999px, 51px, 0);
    transform: skew(0.16deg);
    }
    40% {
    clip: rect(52px, 9999px, 11px, 0);
    transform: skew(0.21deg);
    }
    45% {
    clip: rect(39px, 9999px, 58px, 0);
    transform: skew(0.98deg);
    }
    50% {
    clip: rect(88px, 9999px, 42px, 0);
    transform: skew(0.42deg);
    }
    55% {
    clip: rect(98px, 9999px, 11px, 0);
    transform: skew(0.51deg);
    }
    60% {
    clip: rect(73px, 9999px, 73px, 0);
    transform: skew(0.81deg);
    }
    65% {
    clip: rect(82px, 9999px, 59px, 0);
    transform: skew(1deg);
    }
    70% {
    clip: rect(64px, 9999px, 84px, 0);
    transform: skew(0.94deg);
    }
    75% {
    clip: rect(41px, 9999px, 44px, 0);
    transform: skew(0.38deg);
    }
    80% {
    clip: rect(23px, 9999px, 35px, 0);
    transform: skew(0.54deg);
    }
    85% {
    clip: rect(20px, 9999px, 100px, 0);
    transform: skew(0.76deg);
    }
    90% {
    clip: rect(9px, 9999px, 96px, 0);
    transform: skew(0.64deg);
    }
    95% {
    clip: rect(29px, 9999px, 82px, 0);
    transform: skew(0.47deg);
    }
    100% {
    clip: rect(15px, 9999px, 94px, 0);
    transform: skew(0.76deg);
    }
    }
    @keyframes glitch-skew {
    0% {
    transform: skew(2deg);
    }
    10% {
    transform: skew(4deg);
    }
    20% {
    transform: skew(4deg);
    }
    30% {
    transform: skew(-2deg);
    }
    40% {
    transform: skew(4deg);
    }
    50% {
    transform: skew(2deg);
    }
    60% {
    transform: skew(-3deg);
    }
    70% {
    transform: skew(-1deg);
    }
    80% {
    transform: skew(-3deg);
    }
    90% {
    transform: skew(-2deg);
    }
    100% {
    transform: skew(-2deg);
    }
    }


    @media(max-width: 1200px)
{
  .sidenav {
height: 100%;
width: 108px;
}

.sidenav a{
  font-size: 18px;
}

#wrapper {
    text-align: center;
    }
    .glitch {
    position: relative;
    color: olive;
    font-size: 23px;
    letter-spacing: .3em;
    animation: glitch-skew 0.5s infinite linear alternate-reverse;
    }
    #second{
        background-color: rgb(229, 247, 229);
    }
    #row{
        margin-left: 5%;
    }
}



@media(max-width: 992px)
{
  .sidenav {
height: 100%;
width: 108px;
}

.sidenav a{
  font-size: 18px;
}

#wrapper {
    text-align: center;
    }
    .glitch {
    position: relative;
    color: olive;
    font-size: 40px;
    letter-spacing: .3em;
    animation: glitch-skew 0.5s infinite linear alternate-reverse;
    }
    #second{
        background-color: rgb(229, 247, 229);
    }
    #row{
        margin-left: 5%;
    }
}



@media(max-width: 768px)
{
  .sidenav {
height: 100%;
width: 108px;
}

.sidenav a{
  font-size: 18px;
}

#wrapper {
    text-align: center;
    }
    .glitch {
    position: relative;
    color: olive;
    font-size: 20px;
    letter-spacing: .3em;
    animation: glitch-skew 0.5s infinite linear alternate-reverse;
    }
    #second{
        background-color: rgb(229, 247, 229);
    }
    #row{
        margin-left: 5%;
    }
}


@media(max-width: 767px)
{
  .sidenav {
height: 100%;
width: 108px;
}

.sidenav a{
  font-size: 18px;
}

#wrapper {
    text-align: center;
    }
    .glitch {
    position: relative;
    color: olive;
    font-size: 23px;
    letter-spacing: .3em;
    animation: glitch-skew 0.5s infinite linear alternate-reverse;
    }
    #second{
        background-color: rgb(229, 247, 229);
    }
    #row{
        margin-left: 1%;
    }
}





/* color: rgb(33, 184, 33);*/
